/*--------------- Navigation bar styling-------------------*/

.navigationBarContainer{
  display: grid;
  grid-template-columns: 10px auto 60% 1fr 5% 1fr 5% 1fr 25px;
  grid-template-rows: 10% 25% auto 25% 10%;
  background-color: rebeccapurple;
  height: 100px;
}


.navigationLogo{
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
  /* background-color: burlywood; */
}

.navigationLogoImg{
  height: 75px;
  width: 75px;
}

.productBtn{
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  background-color: darkcyan;
}

.whoAreWeBtn{
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
  background-color: darkgrey;
}

.contactBtn{
  grid-column: 8 / span 1;
  grid-row: 3 / span 1;
  background-color: deepskyblue;
}

.btnTxt{
  line-height: 26px;
}
