/*--------------- Navigation bar styling-------------------*/

.navigationBarContainer{
  display: grid;
  grid-template-columns: 10% 1fr 20% 1fr 10% 1fr 10% 1fr 10%;
  grid-template-rows: 10% 25% 30% 25% 10%;
  background-color: rebeccapurple;
  height: 100px;
}


.navigationLogo{
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
  background-color: burlywood;
}

.productBtn{
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  background-color: darkcyan;
}

.whoAreWeBtn{
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
  background-color: darkgrey;
}

.contactBtn{
  grid-column: 8 / span 1;
  grid-row: 3 / span 1;
  background-color: deepskyblue;
}
